{% load blog_extras %}
{% load blog_extras crispy_forms_tags %}

<h4>Comments</h4>
{% for comment in post.comments.all %}
{% row "border-top pt-2" %}
    {% col %}
        <h5>Posted by {{ comment.creator }} at {{ comment.created_at|date:"M, d Y h:i" }}</h5>
    {% endcol %}
{% endrow %}
{% row "border-bottom" %}
    {% col %}
        <p>{{ comment.content }}</p>
    {% endcol %}
{% endrow %}
{% empty %}
    {% row "border-top border-bottom" %}
        {% col %}
            <p>No comments.</p>
        {% endcol %}
    {% endrow %}
{% endfor %}
{% row "mt-4" %}
    {% col %}
        <h4>Add Comment</h4>
        {% if request.user.is_authenticated %}
        <form method="post" action="{% url 'submit-comment' post.id %}">
            {% csrf_token %}
            <div class="mb-3">
                <textarea name="content" class="form-control" rows="3" placeholder="Write a comment..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add Comment</button>
        </form>
        {% else %}
        <p>Please <a href="{% url 'login' %}">login</a> to add a comment.</p>
        {% endif %}
    {% endcol %}
{% endrow %}
